@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --black-100: #16171b;
}

html {
  height: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: sans-serif;
  display: block;
  overflow-x: hidden;
}

a {
  transition: transform .2s, opacity .2s, border-color .2s ease-in-out, color .2s ease-in-out, background-color .2s ease-in-out, opacity .2s ease-in-out;
}

img {
  vertical-align: middle;
}

* {
  boxing-size: border-box;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* @font-face {
  font-family: "Input Sans";
  src: url("../public/Input Sans/InputSans-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
} */